<h5><strong><%= user.name %></strong></h5>
<p><em><%= user.description %></em></p>
<p><%= user.address %></p>
<p><strong>Tel.:</strong> <%= user.phone %></p>
<p><strong>E-mail:</strong> <%= user.email %></p>
