<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">
    <%= link_to root_path, class: "navbar-brand" do %>
     <i class="fas fa-hastag"></i>
    <% end %>
  </div>

  <div class="number p-2 bd-highlight">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
      <%=  image_tag "sino.png", class:"avatar-number dropdown-toggle", id:"navbarDropdown", data: { toggle: "dropdown" }, aria: { haspopup: "true"}, aria: { expanded: "false" } %>
      <div class="contador">
        <% if current_user.notifications.where(read: false).any? %>
          <%= current_user.notifications.where(read: false).count %>
        <% end %>
      </div>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <% if user_signed_in? && current_user.role == "receiver"  %>
        <%= link_to "Você tem #{current_user.notifications.where(read: false).count} novas doações disponíveis", donations_path, class: "dropdown-item" %>
      <% end %>
      <% if user_signed_in? && current_user.role == "donor"  %>
        <% current_user.notifications.where(read: false).each do |notification| %>
          <%= link_to "#{notification.title}", users_path, class: "dropdown-item" %>
        <% end %>
      <% end %>
    </div>
  </div>


  <div class="p-2 bd-highlight" >
         <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width: 80, height: 40, crop: :thumb, gravity: :face %>
          <% else %>
            <%= image_tag "https://i.pinimg.com/originals/fd/0c/55/fd0c559856ca991e9e28937dc802f0b0.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width: 80, height: 40, crop: :thumb, gravity: :face %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Meu Perfil", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Minhas Doações", donations_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "navbar-brand" do %>
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSujUwTc9nNo2M2B8OxODDIlV00tjdUFMiWjIiFZl92wMf5FIbE&usqp=CAU", class: "nav-link rounded-circle" %>
          <% end %>
        </li>
      <% end %>

  </div>
</div>
