<div>
  <div class="banner-home d-flex align-items-center">
      <div class="banner-home-infos d-flex-column align-items-center justify-content-center">
        <div class='banner-home-title'>
          <h1>#tralha.app</h1>

            <p id="banner-typed-text-fixed"> Descartar com a gente é
            <span id="banner-typed-text"></span>
            </p>

        </div>
     </div>
  </div>

  <div class="container pl-0 pr-0 pt-0">
    <div class="banner-home-curious pl-0">
      <div>
        <h2 class= "title" style="text-align: center"> #você sabia?</h2>
      </div>
      <div class="curious-one ">
        <p>No último ano o Brasil registrou 79 milhões de toneladas de resíduos sólidos. Isso mesmo, <strong>79 milhões!</strong> Cerca de 1kg de lixo para cara habitante por dia!  </p>
      </div>
      <div class="curious-one">
        <p>Com o potencial de 30% do lixo produzido, apenas 3% é reaproveitado ou reciclado </p>
      </div>
      <div class="curious-one mb-20">
        <p>Este ano a Política Nacional de Resíduos Sólidos completa 10 anos de existência e segue desconhecida por muitos de nós! Saiba mais sobre a PNRS <a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2010/lei/l12305.htm" target="blank"><strong>aqui</strong></a></p>
      </div>
    </div>
  </div>

  <div class="banner-home-infos text-center">
    <% if current_user && current_user.role == "receiver" %>
      <%= link_to "Veja suas Doações", donations_path, class: "btn-hover" %>
    <% else %>
      <%= link_to "Comece a doar", new_donation_path, class: "btn-hover" %>
    <% end %>
  </div>

  <div class="container ml-30" style="min-height: 61vh; padding-top: 0px;">
    <div class='card-home-third'>
      <div class='title card-passos'>
        <h2 class="title" style="text-align: center">#passo a passo</h2>
      </div>
      <div>
        <div class="d-flex align-item-center" style="margin-bottom:17px;">
          <div class="rounded-circle anime-first justify-content-center" data-anime="left"> 1 </div>
          <div>
            <div data-anime="right" class="animation-step anime-first">
              <p>Cadastre-se na nossa comunidade!</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center" style="margin-bottom:17px;">
          <div class="rounded-circle anime-second justify-content-center" data-anime="left"> 2 </div>
          <div data-anime="right" class="animation-step anime-second">
            <p>Publique sua tralha.</p>
          </div>
        </div>
        <div class="d-flex align-items-center" style="margin-bottom:17px;">
          <div class="rounded-circle anime-third justify-content-center" data-anime="left"> 3 </div>
           <div data-anime="right" class="animation-step anime-third">
            <p>Você receberá um aviso assim que uma instituição demonstrar interesse.</p>
          </div>
        </div>
        <div class="d-flex align-items-center" style="margin-bottom:17px;">
          <div class="rounded-circle anime-forth justify-content-center" data-anime="left"> 4 </div>
          <div data-anime="right" class="animation-step anime-forth">
            <p>Se no período de 1 semana ninguém entrar em contato, a gente também te ajuda a reciclar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-home d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://58e68bf56934d95555dd054c.static-01.com/l/images/aa46a937641367b2c9bf3d2fb12209b2bc972ef0.png')">
    <div class="banner-home-infos">
      <div class='banner-home-title d-flex-column align-items-center justify-content-center'>
        <h2 style="text-align: center;">Faça parte da nossa comunidade com mais de</h2>
        <h1 style="text-align: center;">3.540</h1>
        <h2 style="text-align: center;">doadores</h2>

      </div>
     </div>
  </div>

  <div class="container">
    <h2 class='title mt-0' style="text-align: center">#depoimentos</h2>
    <div class="depo-box col-sm-12 col-md-12 d-flex">
      <div>
        <%= image_tag "profile-pic.jpg", class: "depo-pic"%>
      </div>
      <div>
        <p>&#8220;Nunca foi tão fácil me desfazer da minha coleção de livros! &#8221;</p>
      </div>
    </div>
    <div class="depo-box2 col-sm-12 col-md-12 d-flex">
      <div>
        <%= image_tag "profile-pic-2.jpg", class: "depo-pic2" %>
      </div>
      <div>
        <p> &#8220;Consegui cadeiras ótimas para minha instituição de idosos.&#8221;</p>
      </div>
    </div>

  </div>
</div>
  <div id="rene" class="reneSmall mb-40">
    <div class="speech-bubble2 speech-bubble2hidden">
      <p>Olá, eu sou o René Descartes e estou aqui para ajudar você a descartar sua tralha. Para começar <%= link_to "clica aqui", new_donation_path %> </p>
    </div>
    <div class="clique-rene">
      <%= image_tag "renezin.png" %>
    </div>
  </div>


<style>
.footer{
  margin-top: -95px;
}
</style>
