<div class='container'>
  <div class="mt-3 mb-3">
  <p class="gray-category">DOAÇÕES</p>
  <% if current_user.receiver? %>
      <h2 class="dark-description salmon-underline">Veja aqui todas as doações disponíveis para você</h2>
      <p>Essa é uma lista de doações compatíveis com o seu perfil. Selecione as que você deseja para a sua instituição. É só clicar no <strong>➕</strong>. O doador receberá uma notificação e você terá um retorno da solicitação em até 7 dias! 🚀</p>
      <p>É ansioso e não quer esperar? 🙄 Entre na doação e fale <strong>agora</strong> com o doador!</p>
    <% else %>
      <h2 class="dark-description salmon-underline">Veja aqui todas as suas doações</h2>
          <p>Essa é a lista de suas doações já publicadas aqui no <strong>#tralha.app</strong>. Continue doando!</p>
    <% end %>
  </div>
  <div class='row'>
      <% @donations.each do |donation| %>
          <div class="col-sm-12 col-md-6 col-lg-4 no-decoration">
              <%= link_to donation_path(donation) do  %>
                <div class='card mb-4 round-borders shadow fixed-height-card'>
                  <% if donation.photo.attached? %>
                    <%= cl_image_tag donation.photo.key, class: "card-img-top rounded-top", crop: :fill %>
                  <% else %>
                    <%= image_tag "old_furniture.jpg", class: "card-img-top rounded-top", alt: donation.name %>
                  <% end %>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="card-body">
                        <h5 class="card-title small gray-category"><%= donation.category.name.upcase %></h5>
                        <h5 class="salmon-title"><%= donation.name.capitalize %></h5>
                        <p class="dark-description"><%= donation.description %></p>
                      </div>
                      <% if current_user.receiver? %>
                        <%= link_to donation_transfers_path(donation), method: :post, remote: true,  id:"create_transfer_#{donation.id}" do  %>
                          <div class="wrapper perfect-circle-add-button mr-4 d-flex justify-content-center align-items-center p-0">
                            <h3 class="mt-1 text-light font-weight-bold">+<h3>
                          </div>
                        <% end %>
                      <% elsif donation.status == "open" %>
                        <div class="wrapper perfect-circle-add-button mr-4 d-flex justify-content-center align-items-center p-0 bg-success">
                          <h3 class="mt-1 text-light font-weight-bold"><h3>
                        </div>
                      <% elsif donation.status == "closed" %>
                        <div class="wrapper perfect-circle-add-button mr-4 d-flex justify-content-center align-items-center p-0 bg-danger">
                          <h3 class="mt-1 text-light font-weight-bold"><h3>
                        </div>
                      <% elsif donation.status == "progress" %>
                        <div class="wrapper perfect-circle-add-button mr-4 d-flex justify-content-center align-items-center p-0 bg-primary">
                          <h3 class="mt-1 text-light font-weight-bold"><h3>
                        </div>
                      <% end %>
                    </div>
                </div>
              <% end %>
          </div>
      <% end %>
  </div>
</div>
