<% if current_user.receiver? %>
    <div class="conteiner box-name tittle mt-5 mb-1">
      <h2 class="hello"><strong> Olá <%= current_user.name %>,</strong> <br> veja as doações disponíveis:</h2>
    </div>
  <div class='container' style="padding-top: 200px">
    <div class="row indexcards">
      <% @donations.each do |donation| %>
        <div class="col-sm-12 col-md-6 col-lg-4 no-decoration">
          <%= link_to donation_path(donation) do  %>
            <div class="card-product d-flex justify-content-start">
              <% if donation.photo.attached? %>
                <%= cl_image_tag donation.photo.key, class: "card-img-top rounded-top", height: 100, width: 60, crop: :fill %>
              <% else %>
                <%= image_tag "old_furniture.jpg", class: "card-img-top rounded-top", alt: donation.name %>
              <% end %>
              <div class="card-body">
                <h3><%= donation.name.capitalize %></h3>
                <h5><%= donation.category.name.upcase %></h5>
                <div class="d-flex status-position ">
                  <p style="color: #FF8246"><%= Geocoder::Calculations.distance_between(
                          [current_user.latitude, current_user.longitude],
                          [donation.user.latitude, donation.user.longitude]
                          ).to_i %> km
                  </p>
                  <div class='mt-1' style="margin-left: 80px;">
                    <%= link_to "<i class='fab fa-whatsapp'></i> Fale com #{donation.user.name.capitalize}".html_safe, "https://api.whatsapp.com/send?phone=55#{donation.user.phone}&text=Olá,%20tenho%20interesse%20na%20sua%20doação", target: "_blank", class:"btn btn-sucess btn-xs whatsapp-btn-index" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
    <div class="container box-name tittle mt-5 mb-1">
      <h2><strong>Olá <%= current_user.name.capitalize %>,</strong><br>estas são as suas doações:</h2>
    </div>
  <div class="container" style="padding-top: 200px">
    <div class='row'>
      <% @donations.each do |donation| %>
          <div class="effect col-sm-12 col-md-6 col-lg-4 no-decoration">
              <%= link_to donation_path(donation) do  %>
                <div class="card-product justify-content-start">
                  <% if donation.photo.attached? %>
                    <%= cl_image_tag donation.photo.key, class: "card-img-top rounded-top", crop: :fill %>
                  <% else %>
                    <%= image_tag "old_furniture.jpg", class: "card-img-top rounded-top", alt: donation.name %>
                  <% end %>
                  <div>
                    <div class="card-body">
                      <h3><%= donation.name.capitalize %></h5>
                      <h5><%= donation.category.name.upcase %></h5>
                    </div card-content>
                    <% if donation.status == "open" %>
                      <div class="status-position">
                        <p class="donation-open">Disponível</p>
                      </div>
                    <% elsif donation.status == "progress" %>
                      <div class="status-position">
                        <p class="donation-closed">Em Andamento</p>
                      </div>
                    <% elsif donation.status == "closed" %>
                      <div class="status-position">
                        <p class="donation-closed">Doado</p>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
