<body class="form-body">
  <div class='mt-5 ml-4'>
    <%= link_to root_path do %>
      <i class='fa'>&#xf292</i>
    <% end %>
  </div>
<div class="form-container">
  <br>
  <div class="container form">
    <h2>Vamos nos livrar da sua tralha!</h2>
  </div>
  <div class="container">
    <%= simple_form_for @donation do |f| %>
      <div class="form-inputs">
          <%= f.association :category, label: "Tipo de doação" %>
          <%= f.input :name, label: "O que você está doando?" %>
          <%= f.input :description, label: "Descreva melhor a sua tralha" %>
          <%= f.input :conservation, label: "Estado de conservação", as: :radio_buttons, collection: [['Melhor impossível, tá lindo! 🥰'], ['Tá de boa! 😎'], ['Até que dá pra usar 🤷'], ['Horroroso, mas dá pra reutilizar materiais 💩']]%>
          <%= f.input :photo, as: :file %>
      </div>
      <div class="form-actions">
          <%= f.submit "Publicar doação", class: "btn-hover" %>
      </div>
    <% end %>
  </div>
</div>

</body>
