<body>
   <%= link_to root_path, class: "fa-home" do %>
    <i class="fas fa-hashtag"></i>
   <% end %>

<div class="container col-md-8 col-sm-10">
    <h2 style="text-align: center">Editar seu perfil</h2>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "profile-pic", width: 50, height: 50, crop: :thumb, gravity: :face %>
      <% else %>
        <%= image_tag "https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png", class: "profile", width: 75, height: 75, crop: :thumb %>
      <% end %>

      <div class= "d-flex flex-column justify-content-center">


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs col-md-6 col-sm-10 ">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      label: "Nome",
                      input_html: { autocomplete: "name" }%>
          <%= f.input :address,
                      required: true,
                      autofocus: true,
                      label: "Endereço",
                      input_html: { autocomplete: "address" }%>
          <%= f.input :phone,
                      required: true,
                      autofocus: true,
                      label: "Telefone",
                      input_html: { autocomplete: "phone" }%>
          <%= f.input :role,
                      required: false,
                      autofocus: true,
                      label: "Perfil",
                      as: :radio_buttons,
                      collection: {Doador: "donor", Recebedor: "receiver"},
                      input_html: { autocomplete: "role" }%>
          <%= f.input :description,
                      label: "Descrição",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "description" }%>
          <%= f.input :password,
                      hint: "Deixe em branco se não quiser alterar",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: "Nova senha",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "Confirme sua senha para atualizar as mudanças",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo, as: :file %>
        </div>
</div>

    <div class="form-actions">
      <%= f.button :submit, "Atualizar", class: "btn-hover" %>
    </div>
  <% end %>


      <p class="link-forms">Não está feliz? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


</div>
</body>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

  h2 {
    font-family: 'Luckiest Guy', cursive;
    color: #FD604E;
  }

  body {
    background: rgb(244,244,244);
    background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(246,137,137,1) 100%);
  }
</style>
